<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACM Navbar</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="background.mp4" type="video/mp4">
        </video>
    </div>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="acmlogo.png" alt="ACM Logo">
            </div>
            <ul class="nav-links">
                <li><a href="homeapage.html">Ana Sayfa</a></li>
                <li class="dropdown">
                    <a href="#">Etkinlikler</a>
                    <ul class="dropdown-content">
                        <li><a href="AyazJam.html">AyazJam</a></li>
                        <li><a href="Robo-X.html">Robo-X</a></li>
                        <li><a href="ACMiX.html">ACMiX</a></li>
                    </ul>
                </li>
                <li><a href="#">Sponsorlar</a></li>
                <li><a href="#">ACM Nedir?</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
            <div class="website">
                <div class="social-media-icons">
                    <a href="https://instagram.com" target="_blank">
                        <img src="instagramtrasparant.png" alt = "Instagram" class ="social-icon">
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img src="Linkedintransprant.png" alt="LinkedIn" class="social-icon">
                    </a>
                    <a href="https://discord.com" target="_blank">
                        <img src="discord-removebg-preview.png" alt="Discord" class="social-icon">
                    </a>
                </div>
            </div>
    </header>
    <div class="center-text">
        <h1>ACM GAZİ</h1>
        <p style="font-size: 12px; margin-top: 10%;">#THETİMEİSNOW</p>
        
        <a href="https://acmgazi.com/" target="_blank" class="button">Aramıza Katıl</a>
    </div>
    
    
</body>
</html>
