<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/css.css' %}">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="{% static 'core/video/background.mp4' %}" type="video/mp4">
        </video>
    </div>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'core/img/acmlogo.png' %}" alt="ACM Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#">Ana Sayfa</a></li>
                <li class="dropdown">
                    <a href="#">Etkinlikler</a>
                    <ul class="dropdown-content">
                        <li><a href="{% static 'AyazJam.html' %}">AyazJam</a></li>
                        <li><a href="{% static 'Robo-X.html' %}">Robo-X</a></li>
                        <li><a href="{% static 'ACMiX.html' %}">ACMiX</a></li>
                    </ul>
                </li>
                <li><a href="{% static 'Sponsor.html' %}">Sponsorlar</a></li>
                <li><a href="{% static 'ACM-Nedir.html' %}">ACM Nedir?</a></li>
                <li><a href="{% static 'Contact.html' %}">İletişim</a></li>
            </ul>
            <div class="website">
                <div class="social-media-icons">
                    <a href="https://instagram.com" target="_blank">
                        <img src="{% static 'core/img/instagramtrasparant.png' %}" alt="Instagram" class="social-icon">
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img src="{% static 'core/img/Linkedintransprant.png' %}" alt="LinkedIn" class="social-icon">
                    </a>
                    <a href="https://discord.com" target="_blank">
                        <img src="{% static 'core/img/discord-removebg-preview.png' %}" alt="Discord" class="social-icon">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="center-text">
        <h1 style="padding-top: 360px; padding-bottom: 00px;">ACM GAZİ</h1>
        <p style="font-size: 12px; margin-top: 2%;">#THETİMEİSNOW</p>
        
        <a href="https://acmgazi.com/" target="_blank" class="button">Aramıza Katıl</a>
    
        <div class="duyurular-container" style="margin-top: 100px;"> <!-- Burada margin-top ekleyin -->
            <h2 style="text-align: center; ">Duyurular</h2>
            <div class="slider">
                {% for duyuru in duyurular %}
                <div class="slide">
                    {% if duyuru.resim %}
                    <img src="{{ duyuru.resim.url }}" alt="{{ duyuru.baslik }}">
                    {% endif %}
                    <p>{{ duyuru.baslik }}</p>
                    <a href="https://example.com/{{ duyuru.id }}" target="_blank">Detaylar</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>
