<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACM Navbar</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="background.mp4" type="video/mp4">
        </video>
    </div>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="acmlogo.png" alt="ACM Logo">
            </div>
            <ul class="nav-links">
                <li><a href="homeapage.html">Ana Sayfa</a></li>
                <li class="dropdown">
                    <a href="#">Etkinlikler</a>
                    <ul class="dropdown-content">
                        <li><a href="AyazJam.html">AyazJam</a></li>
                        <li><a href="Robo-X.html">Robo-X</a></li>
                        <li><a href="ACMiX.html">ACMiX</a></li>
                    </ul>
                </li>
                <li><a href="Sponsor.html">Sponsorlar</a></li>
                <li><a href="ACM-Nedir.html">ACM Nedir?</a></li>
                <li><a href="Contact.html">İletişim</a></li>
            </ul>
            <div class="website">
                <div class="social-media-icons">
                    <a href="https://instagram.com" target="_blank">
                        <img src="instagramtrasparant.png" alt = "Instagram" class ="social-icon">
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img src="Linkedintransprant.png" alt="LinkedIn" class="social-icon">
                    </a>
                    <a href="https://discord.com" target="_blank">
                        <img src="discord-removebg-preview.png" alt="Discord" class="social-icon">
                    </a>
                </div>
            </div>
    </header>

    <div class="center-text">
        <h1 style="color:white; padding-bottom: 300px;" >İletişim</h1>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="display: flex; justify-content: space-around; align-items: center; width: 60%;">
            <div style="display: flex; align-items: center;">
                <img height="40px" width="40px" src="instagramtrasparant.png" alt="Instagram Logo">
                <p style="margin-left: 10px;">
                    <a href="https://www.instagram.com/acmgazi/" target="_blank" style="color: white; text-decoration: none;">Instagram</a>
                </p>
            </div>
            <div style="display: flex; align-items: center;">
                <img height="40px" width="40px" src="Linkedintransprant.png" alt="LinkedIn Logo">
                <p style="margin-left: 10px;">
                    <a href="https://www.linkedin.com/company/acmgazi/" target="_blank" style="color: white; text-decoration: none;">Linkedln</a>
                </p>
            </div>
            <div style="display: flex; align-items: center;">
                <img height="40px" width="40px" src="discord-removebg-preview.png" alt="Discord Logo">
                <p style="margin-left: 10px;">
                    <a href="https://discord.gg/Cseer79gT6" target="_blank" style="color: white; text-decoration: none;">Discord</a>
                </p>
            </div>
        </div>
    </div>
    
    
    
    
    
    

    
    
    
</body>
</html>
